html {
  height: 100%;
}
body {
  font-family: "Alegreya Sans", Arial, sans-serif;
  font-size: em(18px);
  color: #222;
  background-color: transparent;
  height: 100%;
}
.app {
  height: 100%;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.panel {
  opacity: 0.9;
  transition: opacity 0.6s ease-in;
}
.panel .input-group {
  margin-top: 15px;
  margin-bottom: 15px;
}
.panel input {
  opacity: 0.5;
  transition: opacity 1s;
}
.panel input:focus {
  opacity: 1;
  outline: none !important;
  box-shadow: none !important;
  border-color: #7a4b6d;
}
.panel .results input {
  opacity: 1;
}
.panel button {
  width: 80px;
  text-transform: uppercase;
  background-color: #7a4b6d;
  border-color: #7a4b6d;
  transition: background-color 0.8s;
}
.panel button:hover {
  background-color: #552d54;
  border-color: #552d54;
}
.panel button:active, .panel button:active:hover {
  background-color: #552d54;
  border-color: #552d54;
}
.panel button:focus, .panel button:focus:hover {
  background-color: #552d54;
  border-color: #552d54;
  outline: none !important;
  box-shadow: none !important;
}
.panel button:disabled, .panel button:disabled:hover, .panel button:disabled:active, .panel button:disabled:focus {
  background-color: #c6b4b4;
  border-color: #c6b4b4;
}
.panel .go span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.panel .go span:after {
  font-family: FontAwesome;
  content: '\f090';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.panel .go:hover span {
  padding-right: 15px;
}
.panel .go:hover span:after {
  opacity: 1;
  right: 0;
}
.panel .copy span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.panel .copy span:after {
  font-family: FontAwesome;
  content: '\f0ea';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.panel .copy:hover span {
  padding-right: 18px;
}
.panel .copy:hover span:after {
  opacity: 1;
  right: 0;
}
.panel:hover {
  opacity: 1;
}
.panel-info {
  border-color: #552d54;
}
.panel-info .panel-heading {
  background-color: #f0e7de;
  color: #552d54;
  border-color: #552d54;
}
.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #552d54;
  font-size: 8px;
  margin: -5px auto;
  margin-bottom: 35px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
